* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, input::placeholder, textarea::placeholder {
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
}